.primaryText {
    
    font-size: 3.2rem;
    font-weight: bold;
  }
  .secondaryText {
  
    line-height: 26px;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 8px;
  }
  .el{
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 8px;
    width: 30%;
    margin-left: 14rem;
  }
  .social-media a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    padding: .5rem;
    background: orange;
    border-radius: 50%;
    font-size: .4rem; 
    /* color: orange; */
    transition: all .5s ease;
    box-shadow: 0 .4rem 1.8rem gray;
}
.social-media a:hover{
  cursor: pointer;
  background: rgb(243, 181, 66);
}
.social-media a i{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.social-media a:hover{
    color: rgb(241, 184, 136);
    
    cursor: pointer;
}
  .experience{
    display: flex;
    gap: 1rem;
  }
  .upperElement{
    pointer-events: none;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
  }
  .sections{
    padding: 1.5rem;
    background-color:  #F8F7F1;
  }
  .lowerElement{
    pointer-events: none;
    display: flex;
    justify-content: space-between;    
  }
  .containers{
    display: block;
    padding: 3rem;
  }
  .certificate{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .certificate img{
    width: 45px;
  }
  .certificate span{
    font-size: 20px;
  }
  .person{

    position: absolute;
    bottom: -2rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 20rem;
    left: 35%;
    width: 18rem;

}
.person img{
  width: 100%;
  margin-top: -9rem;
}
.email{

    position: absolute;
    top: 70%;
    left: 4.5rem;
    color: orange;
}
@media screen and (max-width:980px) {
  .upperElement{
    justify-content: center;
    flex-direction:column;
    gap: 2rem;
     }
     .experience{
      gap: .5rem;
    }
     .primaryText{
      font-size: 2.6rem;
     }
     .el{
      width: 100%;
      margin-left: 0;
     }
     .secondaryText{
      font-size: 15px;
     }
     .lowerElement{
      flex-direction: column;
      margin-top: 4rem;
      gap: 4rem;
      align-items: center;
      justify-content: center;
     }
     .social-media a{
      width: 1rem;
      height: 1rem;
     }
     .social-media a i{
      font-size: 1rem;
  }
     
     .certificate img{
      width: 2rem;
      margin-bottom: 1rem;
     }
     .person{
      position: relative;
      left: 0;
      background-size: 13rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: bottom;
     }
     .person img{
      width: 100%;
     }
     .email{
      position: relative;
                display: none;
     }
     .certificate span{
      font-size: 18px;
    }
}