.section{
    position: relative;
    z-index: 99;
    opacity: 100;
    transform: none;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 300ms ease;
    background-color: #F8F7F1;
    width: 100%;
    padding: 2rem;
    
}
.container{
    position: fixed;
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;

}
.logo{
    margin-top: 2px;
    font-size: 20px;
    font-weight: 550;
    pointer-events: none;
}
.bigScreen{
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}
.bigScreen li{
    list-style: none;
}
.bigScreen li a:hover, .num p:hover{
   color: orange;
    
}
.bigScreen li a{
    text-decoration: none;
  color: #74726c;
    font-weight: 600;
    transition:  all 300ms ease;
    cursor: pointer; 
}
.response{
    display:none;
    top: 4rem; 
    padding: 0rem;
    width: 50%;
    right: 0;
    background-color: #F8F7F1;
}
.menuIcon{
    display: none;
}
.num{
    display: flex;
}
.num p{
    margin-top: -8px;
    font-weight: 600;
    color: #74726c;
    margin-right: .5rem;
}
.num p svg{
    border-radius: 999px;
}
@media screen and (max-width:980px){
    .menuIcon{
        display: block;
    }
    .response{
        display: block;
      width: 40%;
    position: absolute;
    top: 5rem;
    padding: 2rem;
    right: 0px;
    background-color: #F8F7F1;
    }
    .logo{
        font-size: 15px;
    }
    .response li {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        width: 100%;
        
    }
    
    .response li a{
        text-decoration: none;
        color: #74726c;
        font-weight: 600;
        transition:  all 300ms ease;
        cursor: pointer; 
       
    }
    .response li a:hover{
        padding-left: 1rem;
        color: orange;
    }
    .bigScreen{
        display: none;
    }
    .response li{
        list-style: none;
    }
    .icons{
        padding: .5rem;
        background-color: white;
        border-radius: 999px;
        margin-bottom: -8px;

    }
    .section{
        padding: 0;
    }
}
